<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>345095475630-r9hspe8svchpcaj6mphal2ila9vcd342.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345095475630-r9hspe8svchpcaj6mphal2ila9vcd342</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>345095475630-41uag8toqlnmp6pkamjs56tkec6jadj2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOen0TORmXbsD99n7UC4aiHXDQoYTHJ00</string>
	<key>GCM_SENDER_ID</key>
	<string>345095475630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carbgem.bitte.dev</string>
	<key>PROJECT_ID</key>
	<string>cbi-bitte-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>cbi-bitte-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:345095475630:ios:a98929af570362859eb83f</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>url_identifier_prod</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-345095475630-ios-a98929af570362859eb83f</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
